In [1]:
import polars as pl

In [5]:
url = "https://www.epa.gov/system/files/other-files/2022-09/cherry-blossoms_fig-1.csv"
raw = pl.read_csv(url, skip_rows=6)
raw.head()

shape: (5, 4)
┌──────┬─────────────────────────┬───────────────────────────────────┬─────────────────────────┐
│ Year ┆ Yoshino peak bloom date ┆ Cherry blossom festival start da… ┆ Cherry blossom festival │
│ ---  ┆ ---                     ┆ ---                               ┆ duration                │
│ i64  ┆ i64                     ┆ i64                               ┆ ---                     │
│      ┆                         ┆                                   ┆ i64                     │
╞══════╪═════════════════════════╪═══════════════════════════════════╪═════════════════════════╡
│ 1921 ┆ 79                      ┆ null                              ┆ null                    │
│ 1922 ┆ 97                      ┆ null                              ┆ null                    │
│ 1923 ┆ 99                      ┆ null                              ┆ null                    │
│ 1924 ┆ 104                     ┆ null                              ┆ null                    │
│ 1925 ┆ 86                      ┆ null                              ┆ null                    │
└──────┴─────────────────────────┴───────────────────────────────────┴─────────────────────────┘

In [12]:
data = (
    raw
    .with_columns(
        pl.date(pl.col('Year'), 1, 1)
        .dt.offset_by(pl.format('{}d', pl.col('Yoshino peak bloom date')))
    )
    .select(['Year', 'date'])
    .rename({'Year': 'year'})
)

data.head()

shape: (5, 2)
┌──────┬────────────┐
│ year ┆ date       │
│ ---  ┆ ---        │
│ i64  ┆ date       │
╞══════╪════════════╡
│ 1921 ┆ 1921-03-21 │
│ 1922 ┆ 1922-04-08 │
│ 1923 ┆ 1923-04-10 │
│ 1924 ┆ 1924-04-14 │
│ 1925 ┆ 1925-03-28 │
└──────┴────────────┘

In [ ]:
data.write_csv("data/epa.csv")